.meal img{
    width: 200px;
}

.meal{
    border:1px solid goldenrod;
    border-radius: 20px;
    text-align: center;
    width: 310px;
}
.meal h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: darkgoldenrod;
}
#meal-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.mealInfo img{
    width: 200px;
}
.mealInfo{
    border: 1px solid goldenrod;
    border-radius: 20px;
    width: 350px;
    padding: 30px 50px;
}
.meal-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: goldenrod;
}
