.main-body{
    margin: auto;
    margin-top: 70px;
    width: 80%;
    height: 100%;
}
.search-bar{
    margin: auto;
    padding: 70px;
    width: 40%;

}
#meal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px ;
}

.main-div{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    
}
.meal-name{
    font-size: 30px;
}

.Ingredient{
    margin: auto;
    margin-top: 15px;
  width: 100%;
  padding: 10px;
}

img{
    width: 300px;
    
}

ul li{
    font-weight: bold;
}
h4.meal-name {
    margin-top: 20px;
}
#first-div{
    color: darkblue;
}